.profile-section{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #2F3541;
   font-weight: 300;
   margin-top: 5em;
   text-align: center;
}
.profile-section .profile-picture{
  object-fit: cover;
  height: 12em;
  width: 12em;
  border-radius: 0.3em;

	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.profile-section .profile-picture-hover:hover{
  cursor: pointer;
  filter: brightness(70%);
}
.profile-section .profile-name{
  margin-top: 0.4em;
   font-weight: 300;
   font-size:1.75em;
}
.profile-section .profile-bio{
  margin-top: -9px;
}
.cropper-image-center{
  margin: auto;
}
.modal-content{
  padding: 0px;
}
.btn-primary{
  background-color: #0F7A9D;
}