.welcome-div{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 0.8rem;
	color: #2F3541;
	font-weight: 300;
}
.welcome-subtitle{
	margin-top: -.5em;
  padding-bottom: .75em;
  font-size: 1.75em;
  font-weight: 300;
	letter-spacing: 0.5px;
}
.welcome-instruction{
 padding-bottom: .25em;
 font-size: 1.75em;
 margin-bottom: 0.5em;
}
.welcome-header{
   font-weight: 375;
   font-size:3.25rem;
}

.welcome-button{
  /*margin-bottom: 1rem;
  padding: 0.6rem;
  background-color: transparent;
  width: 200px;
  border-style: solid;
  border-width: 0.25px;
  border-color: #95989A;
  border-radius: 50px;*/
 letter-spacing: 1px;
 font-size:1.75em;
 font-weight:300;
 padding: 0.3rem;
 color: #95989A;
 max-width: 30em;
 height: 2.75em;
 width: 18em;
 border-style: solid;
 border-width: 0.05em;
 border-color: #95989A;
 background-color:transparent;
 border-radius: 50px;
}

.welcome-input{
	letter-spacing: 0.5px;
  font-size:1.75em;
  font-weight:300;
  padding: 0.3rem;
	padding-left: 0.8em;
	margin-bottom: 1em;
  color: #95989A;
  max-width: 30em;
  height: 2.75em;
  width: 23em;
  border-style: solid;
  border-width: 0.05em;
  border-color: #95989A;
  background-color:transparent;
  border-radius: 0.25em;
}

#image-padding{
	margin-top: -.2em;
}

#fb-padding{
	margin:auto;
	padding-left: 0.5em;
}

#continue {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border-color:transparent;
  background-color:#0E85AC;
  color: white;
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;

}

#continue:hover{
	background-color:#096D8E;
	color: white;
	-webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
a:hover{
	text-decoration: none;
	color:inherit;
}

.welcome-continue{
	text-decoration: none;
	color:white;
}
.welcome-signin{
	text-decoration: underline;
}
.welcome-signin:hover{
	color:#0E85AC;
	text-decoration: underline;

}

.profile-button{
	background-color: white;
	border-radius: 50px;
	margin-left: 1em;
}

.profile-button:focus{
	outline:0;
}
.profile-button:hover{
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

.profile-button-img{
	height: 6%;
	transition: all .1s ease-in-out;
}
.profile-button-img:hover{
transform: scale(1.2);
}
.profile-section{
	text-align: center;
}
.profile-add-box{
	margin-top: 5em;
	text-align: center;
}

.profile-new-username{
	border: 0px solid #000000;
border-bottom-width: 1px;
background-color: transparent;
margin-bottom: 3em;
letter-spacing: 1px;
font-size:1.25em;
font-weight:300;
}
.profile-new-username:focus{
	outline:0;
}
.profile-edit-button{
	display: inline-block;
	margin-left: 1em;
	letter-spacing: 1px;
	font-size:1.25em;
	font-weight:300;
	color: white;
	height: 6%;
	width: 8em;
	border-style: solid;
	border-width: 0.25px;
	background-color:#0F7A9D;
	border-radius: 25px;
}
#add{
	margin-left: 0em;
}
.profile-edit-button:hover{
	background-color:#096D8E;
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}
.profile-edit-button:focus{
	outline:0;
}
